{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{% block title %}My Shop{% endblock %}</title>
<link href="{% static 'shop/css/base.css' %}" rel="stylesheet">
</head>

<body>
<div id="header">
<a href="/" class="logo">Войти</a>
<div class="header-info-links">
<a href="/about">О нас</a>
<a href="/contact">Контакты</a>
<a href="/pomoshh?article=oplata">Оплата</a>
<a href="/pomoshh?article=contacts">Контакты</a>
</div></div>

{% block mainmenu %}
<div id="subheader">
<a href="/" class="site_header__logo logo">
    <div class="logo_img--desktop">
        <picture><source srcset="{% static 'shop/img/nike-logo-1978.png' %}" type="image/webp"><img src="{% static 'shop/img/nike-logo-1978.png' %}" class="logo_img" alt="logo" width="100" height="50"></picture>
</a>
    {% for c in categories %}
    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
    {% endfor %}
</div>
    <li class="last"><a href="{% url 'shop:register' %}">Регистрация</a> | <a href="/login">Войти</a></li>
    <div class="cart">Корзина</div>

</div>
{% endblock mainmenu %}

<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>