{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Shop{% endblock %}</title>
    <link href="{% static 'shop/css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.css'  %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap">
</head>

<body>
<!-- Navbar-->
{% block mainmenu %}
<div class="header-white">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search fixed-top bg-light">
        <div class="container"><a class="navbar-brand text-dark" href="{% url 'shop:product_list' %}"><span style="color:#0d6efd"><b>Sport shop</a></b></span><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">

                    <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle text-dark" data-toggle="dropdown" aria-expanded="false" href="#">Категории </a>
                    <div class="dropdown-menu" role="menu">
                        {% for c in categories %}
                        <a class="dropdown-item" role="presentation" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        {% endfor %}
                    </div>
                    </li>

                    <li class="nav-item" role="presentation"><a class="nav-link active text-dark" href="{% url 'shop:feedback' %}">Обратная связь</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active text-dark" href="{% url 'shop:about' %}">О нас</a></li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                </form>
                {% if request.user.is_authenticated %}
                <span style="color:#4169E1;">{{ user.username }} &nbsp</span>
                <a class="btn btn-light action-button" role="button" href="{% url 'shop:logout' %}">Выйти</a>
                {% else %}
                 <a class="btn btn-light action-button" role="button" href="{% url 'shop:login' %}">Войти</a>&nbsp
                <a class="btn btn-light action-button" role="button" href="{% url 'shop:register' %}">Зарегистрироваться</a>
                {% endif %}
            </div>
                <a class="ott btn btn-primary" href="{% url 'cart:cart_detail' %}" role="button"><span >Корзина</span></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div class="dropdown-custom">
                <a href="{% url 'cart:cart_detail' %}"
                   class="nav-link text-black drop-btn">
                    <i class="fas fa-shopping-cart"></i>
                    ₽<span id="cart_price">{{ cart_total_price }}</span>
                </a>
            </div>
        </li>
    </ul>
</div>
        </div>
    </nav>
</div>
{% endblock mainmenu %}
<!--End Navbar-->

<!-- Заголовок с брендом-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-2"><span style="color:#0d6efd"><b> SPORT </b></span> SHOP</h1>
            <p class="lead text-white-50 mb-0">Удобный и стильный образ для спорта на каждый день.</p>
        </div>
    </div>
</header>
<!-- Конец заголовка-->

<div id="content">
{% block content %} {% endblock %}
</div>

<!-- Пагинация -->
<br>
{% if page_obj.has_other_pages %}
<nav aria-label="...">
    <ul class="pagination justify-content-center">
{% if page_obj.has_previous %}
<li class="page-item">
	<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
</li>
{% endif %}
    {% for p in paginator.page_range %}
    {% if page_obj.number == p %}
    <li class="page-item active" aria-current="{{ p }}">
     <span class="page-link">{{ p }}</span>
    </li>
    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
    <li class="page-item">
        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
    </li>
    {% endif %}
    {% endfor %}
{% if page_obj.has_next %}
<li class="page-item">
	<a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
</li>
{% endif %}
    </ul>
</nav>
{% endif %}
<!-- Конец пагинации -->

</div>

<!-- Footer-->
<footer class="py-5 bg-dark footer">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Django website by Andrey Naletov 2022</p></div>
</footer>
<!-- End footer-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>