{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Shop{% endblock %}</title>
    <link href="{% static 'shop/css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.css'  %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="{% url 'shop:product_list' %}"> Sport shop</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse"
                        id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'shop:feedback' %}">Обратная связь</a></li>

                            <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Категории </a>
                            <div class="dropdown-menu" role="menu">
                                {% for c in categories %}
                                <a class="dropdown-item" role="presentation" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                {% endfor %}
                            </div>
                            </li>

                        </ul>
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field"></div>
                        </form><span class="navbar-text"> <a href="{% url 'shop:login' %}" class="login">Войти</a></span><a class="btn btn-light action-button" role="button" href="{% url 'shop:register' %}">Зарегистрироваться</a></div>

                        <a class="ott btn btn-primary" href="{% url 'cart:cart_detail' %}" role="button">Корзина</a>
                </div>

            </nav>
            <div class="container hero">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                        <h1>The revolution is here.</h1>
                        <p>Mauris egestas tellus non ex condimentum, ac ullamcorper sapien dictum. Nam consequat neque quis sapien viverra convallis. In non tempus lorem. </p><button class="btn btn-light btn-lg action-button" type="button">Learn More</button></div>
                    <div
                        class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                        <div class="iphone-mockup"><img src="{% static 'shop/img/iphone.svg' %}" class="device">
                            <div class="screen"></div>
                        </div>
                </div>
            </div>


<div id="header">
<a href="/" class="logo">Войти</a>
<div class="header-info-links">
<a href="/about">О нас</a>
<a href="/contact">Контакты</a>
<a href="/pomoshh?article=oplata">Оплата</a>
<a href="{% url 'shop:feedback' %}"><p align="right">Обратная связь</p></a>
</div></div>

{% block mainmenu %}
<div id="subheader">
<a href="/" class="site_header__logo logo">
    <div class="logo_img--desktop">
        <picture><source srcset="{% static 'shop/img/nike-logo-1978.png' %}" type="image/webp"><img src="{% static 'shop/img/nike-logo-1978.png' %}" class="logo_img" alt="logo" width="100" height="50"></picture>
</a>
    {% for c in categories %}
    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<li class="last"> {{user.username}} | <a href="{% url 'shop:logout' %}">Выйти</a></li>
{% else %}
<li class="last"><a href="{% url 'shop:register' %}">Регистрация</a> | <a href="/login">Войти</a></li>
{% endif  %}
<div class="cart"><a href="{% url 'cart:cart_detail' %}">Корзина</a></div>

</div>
{% endblock mainmenu %}

<div id="content">
{% block content %}{% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</script>
</body>
</html>



