{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Оформление заказа
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 6%">
        <div class="col-md-5">
            <h4 class="page-header">Форма заказа</h4>

            <form action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}<br>
                <button type="submit" class="btn btn-outline-primary">Подтвердить заказ</button>
            </form>

        </div>
        <div class="col-md-4">
            <div class="page-header">
                Заказ
            </div>
            <li class="list-group-item active">Сумма: {{cart_total_price}} рублей</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}