{% extends "shop/base.html" %}
{% block title %}
О нас
{% endblock %}
{% block content %}
<h3><br><br><br>Интернет-магазин одежды.
</h3>
<h5>Адрес: ул. Липовой рощи 1к2, офис. 007</h5>
<br><br><br><br>
<h4>НАША МИССИЯ</h4>
<p>
<h5>Развитие, здоровье и осознанное потребление – это то, что вдохновляет нас. Эти ценности мы вложили в наш бренд и в каждую единицу продукции.
Мы создаём не просто одежду – мы создаём образ жизни, образ мышления современного, уверенного, развивающегося человека.</h5></p>
{% endblock %}