{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{{ product.category }}: {{ product.title }}
{% endblock %}
{% block content %}
<div class="product-detail">
<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'shop/img/no_image.png' %}{% endif %}">
<h1>{{ product.name }}</h1>
<h2>
<a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
</h2>
<p class="price">₽ {{ product.price }}</p>
{{ product.description|linebreaks }}
</div>

<div class="mb-4">
     <form action="{% url 'cart:cart_add' product.id %}" method="post">
         {% csrf_token %}
     <span class="input-group add-to-cart shadow-custom">
     <div class="input-group-prepend">
     <span class="input-group-text font-weight-bold px-3 btn btn-block price">
        ${{ product.price }}
    </span>
    </div>

    {{ cart_product_form.quantity }}

         <div class="input-group-append">
          <button class="btn btn-primary px-4 reduce_padding" type="submit" data-toggle="tooltip" data-placement="top" title="Add to cart">
            <i class="fas fa-shopping-cart"></i>
          </button>
          </div>
    </span>
    </form>
   </div>
{% endblock %}