{% extends "shop/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="row">
                <div class="col-5">
                    {{ field.label_tag }}
                </div>
                <div class="col-5">
                    {{ field|as_crispy_field }}
                    <div class="form-error">
                        {{ field.errors }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-primary">Отправить</button>
    </form>
    <br>
{% endblock %}