{% extends "shop/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-5"><br>
                {{ form_feedback.name|as_crispy_field }}
            </div>
            <p>
            <div class="col-5">
                {{ form_feedback.email|as_crispy_field }}
            </div>
            </p>
            <div class="col-5">
                {{ form_feedback.content|as_crispy_field }}
            </div>
            <p>
            <div class="col-5">
                {{ form_feedback.capatcha|as_crispy_field }}
            </div>
            </p>
        </div>
        <button type="submit" class="btn btn-outline-primary">Отправить</button>
    </form>
    <br>
{% endblock %}