{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}

    <br>
<h3 class="sec-popular-goods_title title-h3">{% if category %}{{ category.name }}{% else %}НОВИНКИ
    <h5><p style="color:grey">Создай лучшую версию себя!</p></h5>
{% endif %}</h3>



<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in products %}
  <div class="col">
    <div class="card h-100">

        <a href="{{ product.get_absolute_url }}">
    <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static 'shop/img/no_image.png' %}{% endif %}" class="card-img-top" alt="...">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>

      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">₽ {{ product.price }}</small>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}