{% extends "shop/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="col-md-5">
        <form method="post">
            {% csrf_token %}

            <!-- Отражение общих ошибок авторизации ползователей. Т.е. ошибки связанные не с заполнением полей, напр. неверные логин/пароль-->
            <div class="form-error">{{ form.non_field_errors }}</div>
            <!-- Конец -->

            {% for f in form %}
                <p>
                    <label class="form-label" for="{{ f.id_for_label }}">
                        {{ f.label }}:
                    </label>
                    {{ f }}
                </p>
                <div class="form-error">{{ f.errors }}</div>
                <br><br><br>
            {% endfor %}
            <button type="submit" class="btn btn-outline-primary">Регистрация</button>
        </form>
        <br>
    </div>
{% endblock %}
